root = true

# Общие настройки
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Файлы кода — табуляция с шириной 4
[*.{cs}]
indent_style = tab
indent_size = 4 

# XML и проектные файлы — пробелы по 2
[*.{xml,csproj}]
indent_style = space
indent_size = 2
